<!DOCTYPE html>
<html>
<head>
    <style>
        /* Add some basic styling to the email */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Leave Intimation</h1>
        <p>Dear Admin,</p>
        
        <p>Following info is about employee taking leave</p>
        
        <p><strong>Full Name:</strong> {{ data['name'] }}</p>
        <p><strong>Leave Start Date:</strong> {{ data['start_date'] }}</p>
        <p><strong>Leave End Date:</strong> {{ data['end_date'] }}</p>
        <p><strong>Duration:</strong> {{ data['duration'] }} days</p>

        <p>Best regards,<br>Lattech Team</p>
    </div>
</body>
</html>
