<!DOCTYPE html>
<html>
<head>
    <style>
        /* Add some basic styling to the email */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Password Reset Request</h1>
        <p>Dear {{ data['name'] }},</p>
        
        <p>We received a request to reset your password for your HR Portal account at Lattech. Your new login credentials are as follows:</p>
        
        <p><strong>New Password:</strong> {{ data['password'] }}</p>
        
        <p>You can now use these credentials to log in to your Lattech HR account.</p>
        
        <p>If you did not request this password reset or have any concerns about your account security, please contact admin immediately.</p>
        
        <p>Best regards,<br>Lattech Team</p>
    </div>
</body>
</html>
