<!DOCTYPE html>
<html>
<head>
    <style>
        /* Add some basic styling to the email */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Password Updated Successfully</h1>
        <p>Dear {{ data['name'] }},</p>
        
        <p>This is to inform you that your password has been successfully updated.</p>
        
        <p>If you did not initiate this change or have any concerns about your account security, please contact admin immediately.</p>
        
        <p>Best regards,<br>Lattech Team</p>
    </div>
</body>
</html>
