<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Lattech!</h1>
        <p>Dear {{ data['name'] }},</p>
        
        <p>We are excited to have you on board at Lattech. Your user credentials for our HR portal are as follows:</p>
        
        <p><strong>Username:</strong> {{ data['username'] }}</p>
        <p><strong>Password:</strong> {{ data['password'] }}</p>
        
        <p>You can access the HR portal using the following link:</p>
        <a class="btn" href="https://hr.lattech.in/" target="_blank">Access Lattech HR Portal</a>
        
        <p>We look forward to working with you and hope you have a successful and fulfilling journey with our company.</p>
        
        <p>Best regards,<br>Lattech Team</p>
    </div>
</body>
</html>
