<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Lattech HR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Lattech HR Portal" name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- third party css -->
    <link href="/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/buttons.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/select.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/fixedHeader.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/fixedColumns.bootstrap5.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->

    <!-- App css -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />

</head>

<body class="loading"
    data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <div class="wrapper">

        {% include 'sidebar.html' %}

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                {% include 'topbar.html' %}
                <!-- end Topbar -->

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Attendance</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Attendance Tables</h4>
                            </div>
                        </div>
                    </div> <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="tab-content">
                                        <div class="tab-pane show active">
                                            <table id="attendance_table" class="table dt-responsive nowrap w-100">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Sign In</th>
                                                        <th>Sign Out</th>
                                                        <th>Work Location</th>
                                                    </tr>
                                                </thead>

                                            </table>
                                        </div> <!-- end preview-->
                                    </div> <!-- end tab-content-->

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->

                    </div> <!-- end row-->



                </div> <!-- container -->

            </div> <!-- content -->



            {% include 'footer.html' %}


        </div>


    </div>
    <!-- END wrapper -->


    <div class="rightbar-overlay"></div>
    <!-- /End-bar -->


    <!-- bundle -->
    <script src="/js/vendor.min.js"></script>
    <script src="/js/app.min.js"></script>

    <!-- third party js -->
    <script src="/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/vendor/dataTables.bootstrap5.js"></script>
    <script src="/js/vendor/dataTables.responsive.min.js"></script>
    <script src="/js/vendor/responsive.bootstrap5.min.js"></script>
    <script src="/js/vendor/dataTables.buttons.min.js"></script>
    <script src="/js/vendor/buttons.bootstrap5.min.js"></script>
    <script src="/js/vendor/buttons.html5.min.js"></script>
    <script src="/js/vendor/buttons.flash.min.js"></script>
    <script src="/js/vendor/buttons.print.min.js"></script>
    <script src="/js/vendor/dataTables.keyTable.min.js"></script>
    <script src="/js/vendor/dataTables.select.min.js"></script>
    <script src="/js/vendor/fixedColumns.bootstrap5.min.js"></script>
    <script src="/js/vendor/fixedHeader.bootstrap5.min.js"></script>
    <!-- third party js ends -->

    <!-- demo app -->
    <script src="/js/pages/demo.datatable-init.js"></script>
    <!-- end demo js-->

    <script>
        var table = $('#attendance_table').DataTable({
                serverSide: true,
                processing: true,
                ajax: {
                    url: '/api/attendance_info/{{ session["username"] }}',
                    type: 'GET'
                },
                columns: [
                    {
                        data: 'currentdate',
                        render: function (data) {
                            var date = new Date(data);
                            return date.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
                        }
                    },
                    { data: 'signin' },
                    { data: 'signout' },
                    {
                        data: 'worklocation',
                        render: function (data) {
                            return data.charAt(0).toUpperCase() + data.slice(1);
                        }
                    }
                ],
                paging: true,
                searching: false,
                lengthChange: false
            });


        


    </script>


</body>

</html>