<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Lattech HR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Lattech HR Portal" name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- App css -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />

</head>

<body class="loading"
    data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <div class="wrapper">

        {% include 'sidebar.html' %}

        <div class="content-page">
            <div class="content">

                {% include 'topbar.html' %}

                <!-- Start Content-->
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Employee Evaluation</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Employee Evaluation</h4>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <form class="row" id="evaluation_form">
                            <div class="col-6">
                                <label for="exampleInputText2" class="h5">Evaluation Cycle</label>
                                <select class="form-control" name="cycle_list" id="cycle_list">
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="exampleInputText2" class="h5">Employee</label>
                                <select class="form-control" name="employee_list" id="employee_list">
                                </select>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary mt-2">Submit</button>
                            </div>
                        </form>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body" id="self_evaluation_form_div">

                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <h4 class="header-title">Self Evaluation Form</h4>
                                            <a id="update_self_evaluation" class="btn btn-success">Update Changes</a>
                                        </div>

                                        <form id="self_evaluation_form">
                                            <div id="progressbarwizard">

                                                <ul class="nav nav-pills nav-justified form-wizard-header mb-3">
                                                    <li class="nav-item">
                                                        <a href="#analytical_skills" data-bs-toggle="tab"
                                                            data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                                            <i class="mdi mdi-account-circle me-1"></i>
                                                            <span class="d-none d-sm-inline">Analytical Skills</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#communication" data-bs-toggle="tab" data-toggle="tab"
                                                            class="nav-link rounded-0 pt-2 pb-2">
                                                            <i class="mdi mdi-face-profile me-1"></i>
                                                            <span class="d-none d-sm-inline">Communication</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#decision_making" data-bs-toggle="tab"
                                                            data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                                            <i class="mdi mdi-checkbox-marked-circle-outline me-1"></i>
                                                            <span class="d-none d-sm-inline">Decision Making</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#getting_work_done" data-bs-toggle="tab"
                                                            data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                                            <i class="mdi mdi-account-circle me-1"></i>
                                                            <span class="d-none d-sm-inline">Getting Work Done</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#technical_skills" data-bs-toggle="tab"
                                                            data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                                            <i class="mdi mdi-account-circle me-1"></i>
                                                            <span class="d-none d-sm-inline">Technical Skills</span>
                                                        </a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content b-0 mb-0">

                                                    <div id="bar" class="progress mb-3" style="height: 7px;">
                                                        <div
                                                            class="bar progress-bar progress-bar-striped progress-bar-animated bg-success">
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane" id="analytical_skills">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5>What is analytical skills and what to write in
                                                                    justification?</h5>
                                                                <p>
                                                                    Employees should focus on specific instances where
                                                                    they applied analytical thinking to solve complex
                                                                    problems, make informed decisions, or optimize
                                                                    processes. They are encouraged to highlight how they
                                                                    gathered and interpreted data, identified patterns,
                                                                    and drew meaningful conclusions to contribute to the
                                                                    success of their projects. Additionally, employees
                                                                    should showcase their ability to critically assess
                                                                    situations, foresee potential challenges, and
                                                                    propose strategic solutions. Providing concrete
                                                                    examples and outcomes of analytical contributions
                                                                    will not only demonstrate proficiency in this
                                                                    crucial skill but also offer valuable insights into
                                                                    their problem-solving approach and its impact on
                                                                    project outcomes.
                                                                </p>
                                                                <div class="row mb-3">
                                                                    <label class="col-md-3 col-form-label"
                                                                        for="analytical_skills_rating">Rating</label>
                                                                    <div class="col-md-9">
                                                                        <select id="analytical_skills_rating"
                                                                            name="analytical_skills_rating"
                                                                            class="form-control" required>
                                                                            <option value="1">1 - Consistently falls
                                                                                significantly below expectations
                                                                            </option>
                                                                            <option value="2">2 - Performance is below
                                                                                the satisfactory level </option>
                                                                            <option value="3">3 - Consistently meets the
                                                                                performance expectations</option>
                                                                            <option value="4">4 - Consistently exceeds
                                                                                the expected standards</option>
                                                                            <option value="5">5 - Consistently delivers
                                                                                exceptional results</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label class="col-md-3 col-form-label"
                                                                        for="analytical_skills_justification">
                                                                        Justification</label>
                                                                    <div class="col-md-9">
                                                                        <textarea class="form-control"
                                                                            id="analytical_skills_justification"
                                                                            name="analytical_skills_justification"
                                                                            rows="10"
                                                                            placeholder="Write your justification for choosing above rating..."></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label class="col-md-3 col-form-label"
                                                                        for="analytical_skills_company_rating">Company
                                                                        Rating</label>
                                                                    <div class="col-md-9">
                                                                        <select id="analytical_skills_company_rating"
                                                                            name="analytical_skills_company_rating"
                                                                            class="form-control" required>
                                                                            <option value="1">1 - Consistently falls
                                                                                significantly below expectations
                                                                            </option>
                                                                            <option value="2">2 - Performance is below
                                                                                the satisfactory level </option>
                                                                            <option value="3">3 - Consistently meets the
                                                                                performance expectations</option>
                                                                            <option value="4">4 - Consistently exceeds
                                                                                the expected standards</option>
                                                                            <option value="5">5 - Consistently delivers
                                                                                exceptional results</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div> <!-- end col -->
                                                        </div> <!-- end row -->
                                                    </div>

                                                    <div class="tab-pane" id="communication">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5>What is communication skills and what to write in
                                                                    justification?</h5>
                                                                <p>
                                                                    We want you to talk about how you communicated,
                                                                    especially when working on projects and dealing with
                                                                    clients. Share how you explained complex technical
                                                                    stuff, gave updates on projects, and talked about
                                                                    any issues or difficulties with both your team and
                                                                    clients. Also, tell us about times when you listened
                                                                    well, gave helpful feedback, and made sure everyone
                                                                    on your project team could talk openly. If you've
                                                                    interacted with clients, let us know how you made
                                                                    technical information easy for them to understand.
                                                                    Give examples of when your communication worked
                                                                    well, times when you faced challenges, and what you
                                                                    learned from those experiences. This will help us
                                                                    understand your communication skills better and how
                                                                    you see your own progress.
                                                                </p>
                                                                <div class="row mb-3">
                                                                    <label class="col-md-3 col-form-label"
                                                                        for="communication_rating">Rating</label>
                                                                    <div class="col-md-9">
                                                                        <select id="communication_rating"
                                                                            name="communication_rating"
                                                                            class="form-control" required>
                                                                            <option value="1">1 - Consistently falls
                                                                                significantly below expectations
                                                                            </option>
                                                                            <option value="2">2 - Performance is below
                                                                                the satisfactory level </option>
                                                                            <option value="3">3 - Consistently meets the
                                                                                performance expectations</option>
                                                                            <option value="4">4 - Consistently exceeds
                                                                                the expected standards</option>
                                                                            <option value="5">5 - Consistently delivers
                                                                                exceptional results</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label class="col-md-3 col-form-label"
                                                                        for="communication_justification">
                                                                        Justification</label>
                                                                    <div class="col-md-9">
                                                                        <textarea class="form-control"
                                                                            id="communication_justification"
                                                                            name="communication_justification" rows="10"
                                                                            placeholder="Write your justification for choosing above rating..."></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label class="col-md-3 col-form-label"
                                                                        for="communication_company_rating">Company
                                                                        Rating</label>
                                                                    <div class="col-md-9">
                                                                        <select id="communication_company_rating"
                                                                            name="communication_company_rating"
                                                                            class="form-control" required>
                                                                            <option value="1">1 - Consistently falls
                                                                                significantly below expectations
                                                                            </option>
                                                                            <option value="2">2 - Performance is below
                                                                                the satisfactory level </option>
                                                                            <option value="3">3 - Consistently meets the
                                                                                performance expectations</option>
                                                                            <option value="4">4 - Consistently exceeds
                                                                                the expected standards</option>
                                                                            <option value="5">5 - Consistently delivers
                                                                                exceptional results</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> <!-- end row -->
                                                    </div>

                                                    <div class="tab-pane" id="decision_making">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5>What is decision making skills and what to write in
                                                                    justification?</h5>
                                                                <p>When describing your decision-making process, use
                                                                    simple and clear language to explain the choices you
                                                                    made. Focus on the reasoning behind your decisions
                                                                    and how they contributed to the success or progress
                                                                    of the project. Highlight instances where you
                                                                    demonstrated effective problem-solving, critical
                                                                    thinking, and strategic planning. Discuss any
                                                                    challenges you faced and how your decision-making
                                                                    skills helped navigate those challenges. Providing
                                                                    specific examples will not only showcase your
                                                                    abilities but also give insight into the valuable
                                                                    contributions you've made to the projects. </p>
                                                                <div class="row mb-3">
                                                                    <label class="col-md-3 col-form-label"
                                                                        for="decision_making_rating">Rating</label>
                                                                    <div class="col-md-9">
                                                                        <select id="decision_making_rating"
                                                                            name="decision_making_rating"
                                                                            class="form-control" required>
                                                                            <option value="1">1 - Consistently falls
                                                                                significantly below expectations
                                                                            </option>
                                                                            <option value="2">2 - Performance is below
                                                                                the satisfactory level </option>
                                                                            <option value="3">3 - Consistently meets the
                                                                                performance expectations</option>
                                                                            <option value="4">4 - Consistently exceeds
                                                                                the expected standards</option>
                                                                            <option value="5">5 - Consistently delivers
                                                                                exceptional results</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label class="col-md-3 col-form-label"
                                                                        for="decision_making_justification">
                                                                        Justification</label>
                                                                    <div class="col-md-9">
                                                                        <textarea class="form-control"
                                                                            id="decision_making_justification"
                                                                            name="decision_making_justification"
                                                                            rows="10"
                                                                            placeholder="Write your justification for choosing above rating..."></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label class="col-md-3 col-form-label"
                                                                        for="decision_making_company_rating">Company
                                                                        Rating</label>
                                                                    <div class="col-md-9">
                                                                        <select id="decision_making_company_rating"
                                                                            name="decision_making_company_rating"
                                                                            class="form-control" required>
                                                                            <option value="1">1 - Consistently falls
                                                                                significantly below expectations
                                                                            </option>
                                                                            <option value="2">2 - Performance is below
                                                                                the satisfactory level </option>
                                                                            <option value="3">3 - Consistently meets the
                                                                                performance expectations</option>
                                                                            <option value="4">4 - Consistently exceeds
                                                                                the expected standards</option>
                                                                            <option value="5">5 - Consistently delivers
                                                                                exceptional results</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div> <!-- end col -->
                                                        </div> <!-- end row -->
                                                    </div>

                                                    <div class="tab-pane" id="getting_work_done">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5>What is getting work done and what to write in
                                                                    justification?</h5>
                                                                <p>Employees are encouraged to reflect on their "Getting
                                                                    Work Done" skills, with a specific emphasis on their
                                                                    project contributions and a focus on taking
                                                                    responsibility. In simple English, employees should
                                                                    describe the actions they took to accomplish tasks
                                                                    and meet project goals. They may highlight instances
                                                                    where they efficiently managed their time,
                                                                    collaborated with team members, and proactively
                                                                    addressed challenges. Additionally, employees should
                                                                    express how they took ownership of their
                                                                    responsibilities, showcasing a sense of
                                                                    accountability for the outcomes of their work. By
                                                                    providing concrete examples and clear explanations
                                                                    of their contributions, employees can effectively
                                                                    communicate their effectiveness in getting work done
                                                                    and their commitment to taking responsibility in
                                                                    their projects</p>
                                                                <div class="row mb-3">
                                                                    <label class="col-md-3 col-form-label"
                                                                        for="getting_work_done_rating">Rating</label>
                                                                    <div class="col-md-9">
                                                                        <select id="getting_work_done_rating"
                                                                            name="getting_work_done_rating"
                                                                            class="form-control" required>
                                                                            <option value="1">1 - Consistently falls
                                                                                significantly below expectations
                                                                            </option>
                                                                            <option value="2">2 - Performance is below
                                                                                the satisfactory level </option>
                                                                            <option value="3">3 - Consistently meets the
                                                                                performance expectations</option>
                                                                            <option value="4">4 - Consistently exceeds
                                                                                the expected standards</option>
                                                                            <option value="5">5 - Consistently delivers
                                                                                exceptional results</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label class="col-md-3 col-form-label"
                                                                        for="getting_work_done_justification">
                                                                        Justification</label>
                                                                    <div class="col-md-9">
                                                                        <textarea class="form-control"
                                                                            id="getting_work_done_justification"
                                                                            name="getting_work_done_justification"
                                                                            rows="10"
                                                                            placeholder="Write your justification for choosing above rating..."></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label class="col-md-3 col-form-label"
                                                                        for="getting_work_done_company_rating">Company
                                                                        Rating</label>
                                                                    <div class="col-md-9">
                                                                        <select id="getting_work_done_company_rating"
                                                                            name="getting_work_done_company_rating"
                                                                            class="form-control" required>
                                                                            <option value="1">1 - Consistently falls
                                                                                significantly below expectations
                                                                            </option>
                                                                            <option value="2">2 - Performance is below
                                                                                the satisfactory level </option>
                                                                            <option value="3">3 - Consistently meets the
                                                                                performance expectations</option>
                                                                            <option value="4">4 - Consistently exceeds
                                                                                the expected standards</option>
                                                                            <option value="5">5 - Consistently delivers
                                                                                exceptional results</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div> <!-- end col -->
                                                        </div> <!-- end row -->
                                                    </div>


                                                    <div class="tab-pane" id="technical_skills">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h5>What is technical skills and what to write in
                                                                    justification?</h5>
                                                                <p>When detailing acquired technical skills, focus on
                                                                    specific achievements and practical applications.
                                                                    Highlight the programming languages, frameworks, or
                                                                    tools you've mastered and describe how you've
                                                                    applied them in your projects. Share any training,
                                                                    courses, or certifications you've completed,
                                                                    emphasizing the real-world impact on your work.
                                                                    Additionally, provide examples of challenges you've
                                                                    successfully tackled using your technical expertise.
                                                                </p>
                                                                <div class="row mb-3">
                                                                    <label class="col-md-3 col-form-label"
                                                                        for="technical_skills_rating">Rating</label>
                                                                    <div class="col-md-9">
                                                                        <select id="technical_skills_rating"
                                                                            name="technical_skills_rating"
                                                                            class="form-control" required>
                                                                            <option value="1">1 - Consistently falls
                                                                                significantly below expectations
                                                                            </option>
                                                                            <option value="2">2 - Performance is below
                                                                                the satisfactory level </option>
                                                                            <option value="3">3 - Consistently meets the
                                                                                performance expectations</option>
                                                                            <option value="4">4 - Consistently exceeds
                                                                                the expected standards</option>
                                                                            <option value="5">5 - Consistently delivers
                                                                                exceptional results</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label class="col-md-3 col-form-label"
                                                                        for="technical_skills_justification">
                                                                        Justification</label>
                                                                    <div class="col-md-9">
                                                                        <textarea class="form-control"
                                                                            id="technical_skills_justification"
                                                                            name="technical_skills_justification"
                                                                            rows="10"
                                                                            placeholder="Write your justification for choosing above rating..."></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label class="col-md-3 col-form-label"
                                                                        for="technical_skills_company_rating">Company
                                                                        Rating</label>
                                                                    <div class="col-md-9">
                                                                        <select id="technical_skills_company_rating"
                                                                            name="technical_skills_company_rating"
                                                                            class="form-control" required>
                                                                            <option value="1">1 - Consistently falls
                                                                                significantly below expectations
                                                                            </option>
                                                                            <option value="2">2 - Performance is below
                                                                                the satisfactory level </option>
                                                                            <option value="3">3 - Consistently meets the
                                                                                performance expectations</option>
                                                                            <option value="4">4 - Consistently exceeds
                                                                                the expected standards</option>
                                                                            <option value="5">5 - Consistently delivers
                                                                                exceptional results</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div> <!-- end col -->
                                                        </div> <!-- end row -->
                                                    </div>



                                                    <ul class="list-inline mb-0 wizard">
                                                        <li class="previous list-inline-item">
                                                            <a href="#" class="btn btn-info">Previous</a>
                                                        </li>
                                                        <li class="next list-inline-item float-end">
                                                            <a href="#" class="btn btn-info">Next</a>
                                                        </li>
                                                    </ul>

                                                </div> <!-- tab-content -->
                                            </div>
                                            <br>
                                            <div class="mt-2">

                                                <h5>Company Review</h5>
                                                <textarea class="form-control" name="employee_notes" id="employee_notes"
                                                    cols="30" rows="10">
                                                </textarea>
                                            </div>

                                        </form>

                                    </div> <!-- end card-body -->
                                </div> <!-- end card-->
                            </div>
                        </div> <!-- end col-->
                    </div>
                    <!-- end row -->


                </div> <!-- container -->

            </div> <!-- content -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end footer-links d-none d-md-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>


    </div>


    <div class="rightbar-overlay"></div>
    <script src="/js/vendor.min.js"></script>
    <script src="/js/app.min.js"></script>
    <script src="/js/vendor/Chart.bundle.min.js"></script>
    <script src="/js/pages/demo.profile.js"></script>
    <script src="/js/pages/demo.form-wizard.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $('#self_evaluation_form_div').hide();
        function updateStartAndEndDate() {
            const currentDate = new Date();
            const firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
            const lastDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0);
            const formattedStartDate = `${firstDayOfMonth.getDate()} ${getMonthName(firstDayOfMonth.getMonth())} ${firstDayOfMonth.getFullYear()}`;
            const formattedEndDate = `${lastDayOfMonth.getDate()} ${getMonthName(lastDayOfMonth.getMonth())} ${lastDayOfMonth.getFullYear()}`;
            $("#start_date").text(formattedStartDate);
            $("#end_date").text(formattedEndDate);
        }

        function getMonthName(monthIndex) {
            const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            return months[monthIndex];
        }
        updateStartAndEndDate();

        var currentDate = new Date();
        var currentYearMonth = getMonthName(currentDate.getMonth()) + " " + currentDate.getFullYear();
        $('#cycle').text('Cycle: ' + currentYearMonth);


        $("#update_self_evaluation").click(function () {
            var formData = $("#self_evaluation_form").serialize();
            formData += "&cycle=" + $('#cycle_list').val();
            formData += "&username=" + $('#employee_list').val();
            $.ajax({
                type: "POST",
                url: "/api/update_self_evaluation",
                data: formData,
                success: function (response) {
                    swal({
                        title: 'Updated!',
                        text: "Your self evaluation record has been updated",
                        icon: 'success',
                        buttons: false
                    });
                },
                error: function (error) {
                    swal({
                        title: 'Failed!',
                        text: "Your self evaluation record could not be updated",
                        icon: 'error',
                        buttons: false
                    });
                }
            });
        });

        var selectElement = $('#employee_list');
        var option = $('<option>', { value: "", text: "Choose Employee" });
        selectElement.append(option);
        $.ajax({
            url: '/api/employees',
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                if (response && response.data && response.data.length > 0) {

                    response.data.forEach(function (employee) {
                        var optionText = employee.fullname + ' - ' + employee.username;
                        var optionValue = employee.username;
                        var option = $('<option>', { value: optionValue, text: optionText });
                        selectElement.append(option);
                    });
                } else {
                    console.log('No data found or an error occurred.');
                }
            },
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + ' - ' + error);
            }
        });


        var cycleElement = $('#cycle_list');
        var cycle_option = $('<option>', { value: "", text: "Choose Cycle" });
        cycleElement.append(cycle_option);
        $.ajax({
            url: '/api/unique_cycles',
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                if (response && response.data && response.data.length > 0) {
                    response.data.forEach(function (cycle) {
                        var cycle_option = $('<option>', { value: cycle, text: cycle });
                        cycleElement.append(cycle_option);
                    });
                } else {
                    console.log('No data found or an error occurred.');
                }
            },
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + ' - ' + error);
            }
        });

        $('#evaluation_form').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "/api/get_employee_self_evaluation?username=" + $('#employee_list').val() + "&month_year=" + $('#cycle_list').val(),
                success: function (response) {
                    if (response.status == 'success') {
                        $('#self_evaluation_form_div').show();
                        $('#employee_notes').val('');
                        figures = response.data;
                        for (var key in figures) {
                            var value = figures[key];
                            $('#' + key).val(value);
                        }
                    } else {
                        $('#self_evaluation_form_div').hide();
                        swal({
                            title: 'No Record!',
                            text: "No record to display data",
                            icon: 'error',
                            buttons: false
                        });
                    }
                },
                error: function (error) {
                    $('#self_evaluation_form_div').hide();
                    console.error("Error submitting evaluation:", error);
                    swal({
                        title: 'No Record!',
                        text: "No record to display data",
                        icon: 'error',
                        buttons: false
                    });
                }
            });
        });

    </script>
</body>

</html>