<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Lattech HR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Lattech HR Portal" name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- App css -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />

</head>

<body class="loading"
    data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <div class="wrapper">

        {% include 'sidebar.html' %}

        <div class="content-page">
            <div class="content">

                {% include 'topbar.html' %}

                <!-- Start Content-->
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Self Evaluation</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Self Evaluation</h4>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Profile -->
                            {% if data['evaluation'] == 'enable' %}
                            <div class="card bg-primary">
                                <div class="card-body profile-user-box">
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="row align-items-center">
                                                <div class="col-auto">
                                                    <div class="avatar-lg">
                                                        <img src="/images/selfevaluation.png" alt=""
                                                            class="rounded-circle img-thumbnail">
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div>
                                                        <h4 class="mt-1 mb-1 text-white">Self Evaluation</h4>
                                                        <p class="font-13 text-white-50"> The self-evaluation form
                                                            serves as a structured tool for individuals to articulate
                                                            the skills they have applied in their roles. Employees are
                                                            encouraged to provide concrete examples of how they utilized
                                                            specific skills to achieve objectives or overcome
                                                            challenges. This reflective exercise not only fosters a
                                                            deeper understanding of one's contributions but also
                                                            promotes accountability and ownership of professional
                                                            development. </p>

                                                        <ul class="mb-0 list-inline text-light">
                                                            <li class="list-inline-item me-3">
                                                                <h5 class="mb-1" id="start_date"></h5>
                                                                <p class="mb-0 font-13 text-white-50">Start Date</p>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <h5 class="mb-1" id="end_date"></h5>
                                                                <p class="mb-0 font-13 text-white-50">End Date
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div> <!-- end col-->

                                        <div class="col-2">
                                            <div class="text-center mt-sm-0 mt-3 text-sm-end">
                                                <a href="/self_evaluation"><button type="button" class="btn btn-light">
                                                        <i class="mdi mdi-account-edit me-1"></i> View
                                                    </button>
                                                </a>
                                            </div>
                                        </div> <!-- end col-->
                                    </div> <!-- end row -->

                                </div> <!-- end card-body/ profile-user-box-->
                            </div>
                            {% endif %}
                        </div> <!-- end col-->
                    </div>
                    <!-- end row -->


                    <div class="row">

                        <div class="col-12">
                            <label for="exampleInputText2" class="h5">Evaluation Cycle</label>
                            <select class="form-control" name="cycle_list" id="cycle_list">
                            </select>
                        </div>
                        <br>
                        <div class="col-12 mt-3" id="self_evaluation_block">
                            <table class="table table-centered mb-0">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Skills</th>
                                        <th>Justification</th>
                                        <th>Self Rating</th>
                                        <th>Company Rating</th>
                                    </tr>
                                </thead>
                                <tbody id="self_evaluation_body">

                                </tbody>
                            </table>

                            <br>
                            <div class="mt-2">
                                <h5>Company Review</h5>
                                <textarea class="form-control" name="employee_notes" id="employee_notes" cols="30"
                                    rows="10" disabled></textarea>
                            </div>

                        </div>



                    </div>
                    <!-- end row -->

                </div> <!-- container -->

            </div> <!-- content -->

            {% include 'footer.html' %}
        </div>

    </div>
    <script src="/js/vendor.min.js"></script>
    <script src="/js/app.min.js"></script>

    <!-- third party js -->
    <script src="/js/vendor/Chart.bundle.min.js"></script>
    <!-- third party js ends -->

    <!-- demo app -->
    <script src="/js/pages/demo.profile.js"></script>
    <!-- end demo js-->
    <script>
        $('#self_evaluation_block').hide();
        function updateStartAndEndDate() {
            const currentDate = new Date();
            const firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
            const lastDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0);
            const formattedStartDate = `${firstDayOfMonth.getDate()} ${getMonthName(firstDayOfMonth.getMonth())} ${firstDayOfMonth.getFullYear()}`;
            const formattedEndDate = `${lastDayOfMonth.getDate()} ${getMonthName(lastDayOfMonth.getMonth())} ${lastDayOfMonth.getFullYear()}`;
            $("#start_date").text(formattedStartDate);
            $("#end_date").text(formattedEndDate);
        }

        function getMonthName(monthIndex) {
            const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            return months[monthIndex];
        }
        updateStartAndEndDate();
        var selectElement = $('#cycle_list');
        selectElement.empty();
        var option = $('<option>', {
            value: "",
            text: "Choose Evaluation Cycle"
        });
        selectElement.append(option);

        $.ajax({
            url: '/api/all_cycles',
            type: 'GET',
            success: function (response) {
                if (response.status === 'success') {
                    var cycles = response.data;
                    $.each(cycles, function (index, cycle) {
                        var option = $('<option>', {
                            value: cycle,
                            text: cycle
                        });
                        selectElement.append(option);
                    });
                } else {
                    console.error('API request failed');
                }
            },
            error: function () {
                console.error('Error making the API request');
            }
        });

        $('#cycle_list').on('change', function () {
            $.ajax({
                type: "GET",
                url: "/api/evaluation_table?month_year=" + $('#cycle_list').val(),
                success: function (response) {
                    if (response.status == 'success') {
                        var tbody = $('#self_evaluation_body');
                        tbody.empty();
                        if (response.data.length > 0) {
                            $('#self_evaluation_block').show();
                            $.each(response.data, function (index, item) {
                                var row = '<tr>' +
                                    '<td>' + item.skill + '</td>' +
                                    '<td>' + item.justification + '</td>' +
                                    '<td>' + item.rating + '</td>' +
                                    '<td>' + item.company_rating + '</td>' +
                                    '</tr>';
                                tbody.append(row);
                            });
                            $('#employee_notes').text(response.employee_notes);
                        } else {
                            $('#self_evaluation_block').hide();
                        }
                    }
                },
                error: function (error) {
                    console.error("Error submitting evaluation:", error);
                }
            });
        });
    </script>
</body>

</html>