<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Lattech HR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Lattech HR Portal" name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- third party css -->
    <link href="/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/buttons.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/select.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/fixedHeader.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/fixedColumns.bootstrap5.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->

    <!-- App css -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />

</head>

<body class="loading"
    data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <div class="wrapper">

        {% include 'sidebar.html' %}

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                {% include 'topbar.html' %}

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                                        <li class="breadcrumb-item active">General Setting</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">General Setting</h4>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="tab-content">
                                        <h4>Transfer Leaves</h4>
                                        <p>Transfer all General Leaves into Paid leaves for your permanent Employee</p>
                                        <button class="btn btn-lg font-16 btn-primary"
                                            onclick="allocate_paid_leaves()"><i class="uil-clipboard-alt"
                                                style="color:white"></i> Transfer Leaves</button>

                                        <br><br>
                                        <h4>Allocate Leaves</h4>
                                        <p>Allocate following leaves to all Employee and Interns</p>
                                        <ul>
                                            <li>1.5 General Leaves</li>
                                            <li>4 Work from home</li>
                                        </ul>
                                        <button class="btn btn-lg font-16 btn-primary"
                                            onclick="allocate_general_leaves()"><i class="uil-clipboard-alt"
                                                style="color:white"></i> Allocate Leaves</button>

                                        <br><br>
                                        <h4>Employee Evaluation Form</h4>
                                        <p>Enable following button to display Evaluation Form to all your employees. Following is the current status of Evaluation form to your employees.</p>
                                        <button class="btn btn-lg font-16 btn-primary" id="evaluationButton"
                                            onclick="toggleEvaluation()">
                                           {% if data['evaluation'] == 'enable' %} Enable {% else %} Disable {% endif %}
                                        </button>
                                    </div>

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>



                </div> <!-- container -->

            </div> <!-- content -->

            {% include 'footer.html' %}

        </div>


    </div>


    <div class="rightbar-overlay"></div>

    <script src="/js/vendor.min.js"></script>
    <script src="/js/app.min.js"></script>

    <script src="/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/vendor/dataTables.bootstrap5.js"></script>
    <script src="/js/vendor/dataTables.responsive.min.js"></script>
    <script src="/js/vendor/responsive.bootstrap5.min.js"></script>
    <script src="/js/vendor/dataTables.buttons.min.js"></script>
    <script src="/js/vendor/buttons.bootstrap5.min.js"></script>
    <script src="/js/vendor/buttons.html5.min.js"></script>
    <script src="/js/vendor/buttons.flash.min.js"></script>
    <script src="/js/vendor/buttons.print.min.js"></script>
    <script src="/js/vendor/dataTables.keyTable.min.js"></script>
    <script src="/js/vendor/dataTables.select.min.js"></script>
    <script src="/js/vendor/fixedColumns.bootstrap5.min.js"></script>
    <script src="/js/vendor/fixedHeader.bootstrap5.min.js"></script>
    <!-- third party js ends -->

    <!-- demo app -->
    <script src="/js/pages/demo.datatable-init.js"></script>
    <!-- end demo js-->

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

        var festival_dates = [];

        var table = $('#datatable').DataTable({
            ajax: '/api/requests/{{session["username"]}}',
            bDestroy: true,
            serverSide: true,
            processing: true,
            columns: [
                { data: 'note' },
                { data: 'type' },
                { data: 'date' },
                {
                    data: null,
                    render: function (data, type, row) {
                        if (!data.past_date)
                            return `
                                <a class="btn btn-sm bg-primary edit_user" data-toggle="tooltip"
                                        data-placement="top" title="" data-original-title="Delete"
                                        onclick="delete_request('`+ data.id + `')">
                                        <i class="mdi mdi-delete" style="color:white"></i>
                                    </a>
                                    `;
                        else
                            return `
                                <p>--------</p>
                                `;
                    }
                }
            ]
        });

        $('#request_form').submit(function (event) {
            event.preventDefault();
            swal({
                title: 'Applying Request',
                text: "Hang on while we process your request!",
                icon: 'info',
                buttons: false
            });
            $.ajax({
                url: '/requests',
                type: 'POST',
                data: $('#request_form').serialize(),
                success: function (response) {
                    $('#request_form').trigger("reset");
                    $('#request-modal').modal('hide');
                    swal(response.status, response.message, response.status);
                    table.ajax.reload();
                }
            });
        });

        function delete_request(id) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '/delete_request/' + id,
                        type: 'DELETE',
                        success: function (response) {
                            swal(response.status, response.message, response.status);
                            table.ajax.reload();
                        }
                    });
                } else {
                    swal("Your record is safe!");
                }
            });
        }

        function allocate_general_leaves() {
            swal({
                title: 'Allocating General Leaves',
                text: "Hang on while we process your request!",
                icon: 'info',
                buttons: false
            });
            $.ajax({
                url: '/corn_leaves/1.5',
                type: 'GET',
                success: function (response) {
                    swal(response.status, response.message, response.status);
                }
            });
        }

        function allocate_paid_leaves() {
            swal({
                title: 'Transfering General Leaves to Paid Leaves',
                text: "Hang on while we process your request!",
                icon: 'info',
                buttons: false
            });
            $.ajax({
                url: '/transfer_to_paid_leaves',
                type: 'GET',
                success: function (response) {
                    swal(response.status, response.message, response.status);
                }
            });
        }

        function toggleEvaluation() {
            var button = document.getElementById('evaluationButton');
            var buttonText = button.innerText.trim().toLowerCase();
            swal({
                title: 'Toggling Evaluation',
                text: "Hang on while we process your request!",
                icon: 'info',
                buttons: false
            });
            if (buttonText === 'enable') {
                button.innerText = 'Disable';
                $.ajax({
                    url: '/toggle_evaluation?evaluation=disable',
                    type: 'GET',
                    success: function (response) {
                        swal(response.status, response.message, response.status);
                    }
                });
            } else if (buttonText === 'disable') {
                button.innerText = 'Enable';
                $.ajax({
                    url: '/toggle_evaluation?evaluation=enable',
                    type: 'GET',
                    success: function (response) {
                        swal(response.status, response.message, response.status);
                    }
                });
            }
        }
    </script>




</body>

</html>