<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">
    
    <!-- LOGO -->
    <a href="/" class="logo text-center logo-light">
        <span class="logo-lg mt-3">
            <h3 style="color: whitesmoke;">Lattech HR</h3>
        </span>
        <span class="logo-sm">
            <img src="/images/logo_sm.png" alt="" height="16">
        </span>
    </a>

    <!-- LOGO -->
    <a href="/" class="logo text-center logo-dark">
        <span class="logo-lg">
            <h3 style="color: whitesmoke;">Lattech HR</h3>
        </span>
        <span class="logo-sm">
            <img src="/images/logo_sm_dark.png" alt="" height="16">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title side-nav-item">Navigation</li>

            <li class="side-nav-item">
                <a href="/dashboard" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Dashboards </span>
                </a>
            </li>

            <li class="side-nav-title side-nav-item">Apps</li>

            <li class="side-nav-item">
                <a href="/calendar" class="side-nav-link">
                    <i class="uil-calender"></i>
                    <span> Calendar </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/requests" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Requests</span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/leaves" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Leaves</span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/attendance_page" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Attendance </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/evaluation" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span>Evaluation</span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/company_rules" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Rules & HR Policy</span>
                </a>
            </li>

            {% if session["role"] == 'admin' or session["role"] == 'moderator' %}
            <li class="side-nav-item">
                <a href="/logged_employee_page" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Logged Employee List</span>
                </a>
            </li>
            {% endif %}

            {% if session["role"] == 'admin' or session["role"] == 'it_admin' or session["role"] == 'moderator' %}
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#assetBar" aria-expanded="true" aria-controls="assetBar" class="side-nav-link">
                        <i class="uil-laptop"></i>
                        <span> Company Assets </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="assetBar">
                        <ul class="side-nav-second-level">
                            
                            <li>
                                <a href="/company_assets">Company Assets</a>
                            </li>
                            <li>
                                <a href="/asset_settings">Settings</a>
                            </li>
                            
                        </ul>
                    </div>
                </li>
            {% endif %}

            {% if session["role"] != 'admin' %}
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="true" aria-controls="sidebarTasks" class="side-nav-link">
                        <i class="uil-clipboard-alt"></i>
                        <span> Settings </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarTasks">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="/profile">My Account</a>
                            </li>
                            <li>
                                <a href="/my_pay">My Pay</a>
                            </li>
                            
                        </ul>
                    </div>
                </li>
            {% endif %}


            {% if session["role"] == 'admin' %}
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="true" aria-controls="sidebarTasks" class="side-nav-link">
                        <i class="uil-clipboard-alt"></i>
                        <span> Settings </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarTasks">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="/employees">Employees List</a>
                            </li>
                            <li>
                                <a href="/leaveCalendar">Calendar</a>
                            </li>
                            <li>
                                <a href="/requestsInfo">Request</a>
                            </li>
                            <li>
                                <a href="/general_notification">Notification</a>
                            </li>

                            <li>
                                <a href="/lop_employees">LOP Employees</a>
                            </li>

                            <li>
                                <a href="/employee_evaluation">Employee Evaluation</a>
                            </li>
                            
                            <li>
                                <a href="/general_settings">General Settings</a>
                            </li>
                        </ul>
                    </div>
                </li>
            {% endif %}

        </ul>

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->