<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Lattech HR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Lattech HR Portal" name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- third party css -->
    <link href="/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/buttons.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/select.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/fixedHeader.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/fixedColumns.bootstrap5.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->

    <!-- App css -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />

</head>

<body class="loading"
    data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <div class="wrapper">

        {% include 'sidebar.html' %}

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                {% include 'topbar.html' %}
                <!-- end Topbar -->

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Asset Category</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Company Asset Settings</h4>
                            </div>
                        </div>
                    </div> <!-- end page title -->

                    <div class="row">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <button class="btn btn-lg font-16 btn-danger" data-bs-toggle="modal"
                                data-bs-target="#category-modal"><i class="mdi mdi-eye" style="color:white"></i>
                                Add Category</button>
                                <br>
                                    <div class="tab-content mt-2">
                                        <div class="tab-pane show active">
                                            <table id="category_table" class="table dt-responsive nowrap w-100">
                                                <thead>
                                                    <tr>
                                                        <th>Category</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for record in category %}
                                                    <tr>
                                                        <td>{{record}}</td>
                                                        <td><a class="btn btn-sm bg-primary edit_user" data-toggle="tooltip"
                                                            data-placement="top" title="" data-original-title="Delete"
                                                            onclick="delete_category('{{record}}')">
                                                            <i class="mdi mdi-delete" style="color:white"></i>
                                                        </a></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div> <!-- end preview-->
                                    </div> <!-- end tab-content-->

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->

                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <button class="btn btn-lg font-16 btn-danger" data-bs-toggle="modal"
                                data-bs-target="#status-modal"><i class="mdi mdi-eye" style="color:white"></i>
                                Add Status</button> <br>
                                    <div class="tab-content mt-2">
                                        <div class="tab-pane show active">
                                            <table id="status_table" class="table dt-responsive nowrap w-100">
                                                <thead>
                                                    <tr>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for record in status %}
                                                    <tr>
                                                        <td>{{record}}</td>
                                                        <td><a class="btn btn-sm bg-primary edit_user" data-toggle="tooltip"
                                                            data-placement="top" title="" data-original-title="Delete"
                                                            onclick="delete_status('{{record}}')">
                                                            <i class="mdi mdi-delete" style="color:white"></i>
                                                        </a></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div> <!-- end preview-->
                                    </div> <!-- end tab-content-->

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div>

                    </div> <!-- end row-->

                    <div class="modal fade" role="dialog" aria-modal="true" id="category-modal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form id="asset_category_form">
                                        <h5 class="mb-3 text-uppercase bg-light p-2"><i
                                                class="mdi mdi-office-building me-1"></i> Asset Category</h5>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label for="fullname" class="form-label">Category</label>
                                                    <input type="text" class="form-control" id="category" name="category"
                                                        placeholder="Enter Category">
                                                </div>
                                            </div>
                                        </div> <!-- end row -->
        
                                        <div class="col-lg-12">
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Add Category</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" role="dialog" aria-modal="true" id="status-modal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form id="asset_status_form">
                                        <h5 class="mb-3 text-uppercase bg-light p-2"><i
                                                class="mdi mdi-office-building me-1"></i> Asset Status</h5>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label for="status" class="form-label">Status</label>
                                                    <input type="text" class="form-control" id="status_data" name="status_data"
                                                        placeholder="Enter Status">
                                                </div>
                                            </div>
                                        </div> <!-- end row -->
        
                                        <div class="col-lg-12">
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Add Status</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- container -->

            </div> <!-- content -->



            {% include 'footer.html' %}


        </div>


    </div>
    <!-- END wrapper -->


    <div class="rightbar-overlay"></div>
    <!-- /End-bar -->


    <!-- bundle -->
    <script src="/js/vendor.min.js"></script>
    <script src="/js/app.min.js"></script>

    <!-- third party js -->
    <script src="/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/vendor/dataTables.bootstrap5.js"></script>
    <script src="/js/vendor/dataTables.responsive.min.js"></script>
    <script src="/js/vendor/responsive.bootstrap5.min.js"></script>
    <script src="/js/vendor/dataTables.buttons.min.js"></script>
    <script src="/js/vendor/buttons.bootstrap5.min.js"></script>
    <script src="/js/vendor/buttons.html5.min.js"></script>
    <script src="/js/vendor/buttons.flash.min.js"></script>
    <script src="/js/vendor/buttons.print.min.js"></script>
    <script src="/js/vendor/dataTables.keyTable.min.js"></script>
    <script src="/js/vendor/dataTables.select.min.js"></script>
    <script src="/js/vendor/fixedColumns.bootstrap5.min.js"></script>
    <script src="/js/vendor/fixedHeader.bootstrap5.min.js"></script>
    <!-- third party js ends -->

    <!-- demo app -->
    <script src="/js/pages/demo.datatable-init.js"></script>
    <!-- end demo js-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var category_table = $('#category_table').DataTable({});
        var status_table = $('#status_table').DataTable({});

        $('#asset_category_form').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '/api/asset_category',
                type: 'POST',
                data: $('#asset_category_form').serialize(),
                success: function (response) {
                    $('#asset_category_form').trigger("reset");
                    $('#category-modal').modal('hide');
                    location.reload(true);
                }
            });
        });

        function delete_category(id) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this record!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '/api/asset_category',
                        type: 'DELETE',
                        data: { category: id },
                        success: function (response) {
                            location.reload(true);
                        }
                    });
                } else {
                    swal("Your record is safe!");
                }
            });
        }
        
        $('#asset_status_form').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '/api/asset_status',
                type: 'POST',
                data: $('#asset_status_form').serialize(),
                success: function (response) {
                    $('#asset_status_form').trigger("reset");
                    $('#status-modal').modal('hide');
                    location.reload(true);
                }
            });
        });

        function delete_status(id) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this record!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '/api/asset_status',
                        type: 'DELETE',
                        data: { status: id },
                        success: function (response) {
                            location.reload(true);
                        }
                    });
                } else {
                    swal("Your record is safe!");
                }
            });
        } 

        
    </script>


</body>

</html>