<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Lattech HR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Lattech HR Portal" name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- third party css -->
    <link href="/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/buttons.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/select.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/fixedHeader.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor/fixedColumns.bootstrap5.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->

    <!-- App css -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>

<body class="loading"
    data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <div class="wrapper">

        {% include 'sidebar.html' %}

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                {% include 'topbar.html' %}
                <!-- end Topbar -->

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Asset Category</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Company Asset Settings</h4>
                            </div>
                        </div>
                    </div> <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <button class="btn btn-lg font-16 btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#asset-modal"><i class="mdi mdi-eye" style="color:white"></i>
                                        Add Asset</button>
                                    <br>
                                    <br>
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <div class="tab-content">
                                                <div class="tab-pane show active">
                                                    <table id="asset_datatable"
                                                        class="table dt-responsive nowrap w-100">
                                                        <thead>
                                                            <tr>
                                                                <th>Title</th>
                                                                <th>Serial</th>
                                                                <th>Status</th>
                                                                <th>Owner</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>

                                                    </table>
                                                </div> <!-- end preview-->
                                            </div> <!-- end tab-content-->
                                        </div><!-- end col-->
                                    </div>

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div> <!-- end row-->

                    <div class="modal fade" role="dialog" aria-modal="true" id="asset-modal">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myLargeModalLabel"><i
                                            class="mdi mdi-account-circle me-1"></i>
                                        Company Asset Form</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <form id="company_asset_form" enctype="multipart/form-data">

                                        <h5 class="mb-3 text-uppercase bg-light p-2"><i
                                                class="mdi mdi-office-building me-1"></i> Asset Info</h5>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="title" class="form-label">Title</label>
                                                    <input type="text" class="form-control" id="title" name="title"
                                                        placeholder="Enter Asset Title">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="serial" class="form-label">Serial Number</label>
                                                    <input type="text" class="form-control" id="serial" name="serial"
                                                        placeholder="Enter Serial Number">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="model" class="form-label">Model number</label>
                                                    <input type="text" class="form-control" id="model" name="model"
                                                        placeholder="Enter model number">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="asset_tag" class="form-label">Lattech Asset Tag</label>
                                                    <input type="text" class="form-control" id="asset_tag"
                                                        name="asset_tag" placeholder="Enter Lattech Asset Tag">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="category" class="form-label">Category</label>
                                                    <select class="form-select" id="category" name="category">
                                                        <option value="">Choose Catgeory</option>
                                                        {% for record in category %}
                                                        <option value="{{record}}">{{record}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="asset_status" class="form-label">Status</label>
                                                    <div class="mb-3">
                                                        <select class="form-select" id="asset_status"
                                                            name="asset_status">
                                                            <option value="">Choose Status</option>
                                                            {% for record in status %}
                                                            <option value="{{record}}">{{record}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label for="notes" class="form-label">Asset Specs</label>
                                                <textarea class="form-control" id="specs" name="specs" rows="4"
                                                    placeholder="Write down asset specification..."></textarea>
                                            </div>
                                        </div>



                                        <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-earth me-1"></i>
                                            Purchase
                                            Info</h5>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="mb-3">
                                                    <label for="companyname" class="form-label">Order/Invoice ID</label>
                                                    <input type="text" class="form-control" id="order_id"
                                                        name="order_id" placeholder="Enter Order/Invoice ID">
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="mb-3">
                                                    <label for="companyname" class="form-label">Supplier</label>
                                                    <input type="text" class="form-control" id="supplier"
                                                        name="supplier" placeholder="Enter Supplier Name">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label for="userbio" class="form-label">Supplier Address</label>
                                                    <textarea class="form-control" id="supplier_address"
                                                        name="supplier_address" rows="4"
                                                        placeholder="Supplier Address"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="mb-3">
                                                    <label for="companyname" class="form-label">Purchase Date</label>
                                                    <input type="date" class="form-control" id="purchase_date"
                                                        name="purchase_date">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="companyname" class="form-label">Warranty
                                                        (months)</label>
                                                    <input type="text" class="form-control" id="warranty"
                                                        name="warranty" placeholder="Enter Warranty">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label for="companyname" class="form-label">Purchase Cost</label>
                                                    <input type="number" class="form-control" id="cost" name="cost"
                                                        placeholder="Enter purchase cost">
                                                </div>
                                            </div>
                                        </div>

                                        <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-earth me-1"></i>
                                            Current condition</h5>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="mb-3">
                                                    <label for="example-select" class="form-label">Asset Owner</label>
                                                    <select class="form-control" name="employee_list"
                                                        id="employee_list">
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label for="notes" class="form-label">Notes</label>
                                                    <textarea class="form-control" id="notes" name="notes" rows="4"
                                                        placeholder="Current status of asset..."></textarea>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="col-lg-12">
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Add Asset</button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div><!-- /.modal-content -->
                        </div>
                    </div>

                    <div class="modal fade" role="dialog" aria-modal="true" id="checkin-modal">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myLargeModalLabel"><i
                                            class="mdi mdi-account-circle me-1"></i>
                                        Asset CheckIn Form</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <form id="asset_checkin_form" enctype="multipart/form-data">

                                        <h5 class="mb-3 text-uppercase bg-light p-2"><i
                                                class="mdi mdi-office-building me-1"></i> CheckIn Info</h5>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="title" class="form-label">Title</label>
                                                    <input type="text" class="form-control" id="title" name="title"
                                                        placeholder="Enter Asset Title" readonly>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="serial" class="form-label">Serial Number</label>
                                                    <input type="text" class="form-control" id="serial" name="serial"
                                                        placeholder="Enter Serial Number" readonly>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="model" class="form-label">Model number</label>
                                                    <input type="text" class="form-control" id="model" name="model"
                                                        placeholder="Enter model number" readonly>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="asset_tag" class="form-label">Lattech Asset Tag</label>
                                                    <input type="text" class="form-control" id="asset_tag"
                                                        name="asset_tag" placeholder="Enter Lattech Asset Tag" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="example-select" class="form-label">Asset Owner</label>
                                                    <select class="form-control" name="owner_list" id="owner_list">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="asset_status" class="form-label">Status</label>
                                                    <div class="mb-3">
                                                        <select class="form-select" id="asset_status"
                                                            name="asset_status">
                                                            <option value="">Choose Status</option>
                                                            {% for record in status %}
                                                            <option value="{{record}}">{{record}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Update Asset</button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div><!-- /.modal-content -->
                        </div>
                    </div>

                </div> <!-- container -->

            </div> <!-- content -->



            {% include 'footer.html' %}


        </div>


    </div>
    <!-- END wrapper -->


    <div class="rightbar-overlay"></div>
    <!-- /End-bar -->


    <!-- bundle -->
    <script src="/js/vendor.min.js"></script>
    <script src="/js/app.min.js"></script>

    <!-- third party js -->
    <script src="/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/vendor/dataTables.bootstrap5.js"></script>
    <script src="/js/vendor/dataTables.responsive.min.js"></script>
    <script src="/js/vendor/responsive.bootstrap5.min.js"></script>
    <script src="/js/vendor/dataTables.buttons.min.js"></script>
    <script src="/js/vendor/buttons.bootstrap5.min.js"></script>
    <script src="/js/vendor/buttons.html5.min.js"></script>
    <script src="/js/vendor/buttons.flash.min.js"></script>
    <script src="/js/vendor/buttons.print.min.js"></script>
    <script src="/js/vendor/dataTables.keyTable.min.js"></script>
    <script src="/js/vendor/dataTables.select.min.js"></script>
    <script src="/js/vendor/fixedColumns.bootstrap5.min.js"></script>
    <script src="/js/vendor/fixedHeader.bootstrap5.min.js"></script>
    <script src="/js/pages/demo.datatable-init.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

        var table = $('#asset_datatable').DataTable({
            ajax: '/api/company_assets',
            bDestroy: true,
            serverSide: true,
            processing: true,
            columns: [
                {
                    data: null,
                    render: function (data, type, row) {
                        return `
                                <p style="margin-bottom: 0">`+ data.title + `</p>
                                <p style="margin-top: 0;margin-bottom: 0">`+ data.specs + `</p>
                                `;
                    }
                },
                { data: 'asset_tag', searchable: true },
                { data: 'asset_status', searchable: true },
                {
                    data: null,
                    render: function (data, type, row) {
                        if (data.employee_list && data.employee_list !== '') {
                            var parts = data.employee_list.split(' - ');
                            return `
                                <p style="margin-bottom: 0">`+ parts[0] + `</p>
                                <p style="margin-top: 0;margin-bottom: 0">`+ parts[1] + `</p>
                                `;
                        } else
                            return '<p>Unassigned</p>'

                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        if (!data.past_date)
                            return `
                            <a class="btn btn-sm bg-success edit_user" data-toggle="tooltip"
                                        data-placement="top" title="Check In" data-original-title="Delete"
                                        onclick="check_in('`+ data.asset_tag + `')">
                                        <i class="mdi mdi-bookshelf" style="color:white;font-size:14px;"></i>
                                    </a>
                                <a class="btn btn-sm bg-primary edit_user" data-toggle="tooltip"
                                        data-placement="top" title="" data-original-title="Delete"
                                        onclick="delete_request('`+ data.asset_tag + `')">
                                        <i class="mdi mdi-delete" style="color:white"></i>
                                    </a>
                                    `;
                        else
                            return `
                                <p>--------</p>
                                `;
                    }
                }
            ],
        });

        var selectElement = $('#employee_list');
        var option = $('<option>', { value: "Unassigned - Unassigned", text: "Choose Employee" });
        selectElement.append(option);
        $.ajax({
            url: '/api/employees',
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                if (response && response.data && response.data.length > 0) {
                    response.data.forEach(function (employee) {
                        var optionText = employee.fullname + ' - ' + employee.username;
                        var option = $('<option>', { value: optionText, text: optionText });
                        selectElement.append(option);
                    });
                } else {
                    console.log('No data found or an error occurred.');
                }
            },
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + ' - ' + error);
            }
        });

        var selectElement = $('#owner_list');
        var option = $('<option>', { value: "Unassigned - Unassigned", text: "Choose Employee" });
        selectElement.append(option);
        $.ajax({
            url: '/api/employees',
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                if (response && response.data && response.data.length > 0) {
                    response.data.forEach(function (employee) {
                        var optionText = employee.fullname + ' - ' + employee.username;
                        var option = $('<option>', { value: optionText, text: optionText });
                        selectElement.append(option);
                    });
                } else {
                    console.log('No data found or an error occurred.');
                }
            },
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + ' - ' + error);
            }
        });

        $('#company_asset_form').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '/api/company_assets',
                type: 'POST',
                data: $('#company_asset_form').serialize(),
                success: function (response) {
                    $('#company_asset_form').trigger("reset");
                    $('#asset-modal').modal('hide');
                    table.ajax.reload();
                }
            });
        });

        function check_in(asset_tag) {
            $('#checkin-modal').modal('show');
            $.ajax({
                url: '/api/company_assets?asset_id=' + asset_tag,
                type: 'GET',
                success: function (response) {
                    console.log(response.message[0])
                    const form = document.querySelector('#asset_checkin_form');
                    for (const key in response.message[0]) {
                        console.log('KEY ', key);
                        const element = form.querySelector(`#${key}`);
                        if (element) {
                            element.value = response.message[0][key];
                        }
                    }
                }
            });
        }

        $('#asset_checkin_form').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '/api/update_asset_checkin',
                type: 'POST',
                data: $('#asset_checkin_form').serializeArray(),
                success: function (response) {
                    $('#asset_checkin_form').trigger("reset");
                    $('#checkin-modal').modal('hide');
                    table.ajax.reload();

                }
            });
        });

    </script>


</body>

</html>